/* HeroSection.module.css */
.hero {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 96px;
    align-items: flex-start;
    justify-content: center;
}

.hero-heading {
    max-width: 800px;
    text-align: center;
}

.hero-sub-heading {
    font-size: 18px;
    text-align: center;
}

.btn-group {
    display: flex;
    align-items: center;
    flex-direction: row;
}

/* Additional HeroSection styles */