/* UserPanel.css */
.user-panel {
    background-color: #121212;
    color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}

.user-panel main {
    flex-grow: 1;
    padding: 2rem;
}

/* Assuming your Header and Footer components have their own styling from the index.js */